/* Força o texto justificado em todas as tags de parágrafo dentro dos posts do PaperMod */
.post-content p, 
.post-entry p, 
.entry-content p {
    text-align: justify !important;
    text-justify: inter-word !important;
}

mark {
  background-color: #fff3cd; /* Amarelo suave para o modo claro */
  color: #212529;            
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}
